.App {
  text-align: center;
  margin-top: 50px;
}

.word-lst {
  border: 1px solid black;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

.word-lst h2 {
  margin: 8px 0;
}

.word-lst h3 {
  font-style: italic;
  cursor: pointer;
  display: inline;
  padding: 0 6px;
}

.config {
  margin-top: 20px;
}

.config div {
  margin-bottom: 5px;
}

.start {
  padding: 5px;
  margin-top: 10px;
}
